*{
	margin: 0;
	padding: 0;
}
.header{
	height: 70px;
	background-color: #67F4A3;
}
.col-sm-2,.col-sm-6,.col-sm-3,.col-sm-5,.col-sm-4,.col-sm-8,.col-sm-11,.col-sm-7{
	background-color: #99F467;
	text-align: center;
}
.hero{
	width: 100%;
	height: 100px;
	margin-top: 10px;
}
.hero1{
	width: 73%;
	height: 100px;
	background-color: #67F4A3; 
	float: left;
}
#ad{
	width: 25%;
	height: 100px;
	background-color: #67F4A3; 
	margin-left: 13px;
	float: left;
	text-align: center;
}
.body{
	width: 100%;
	height: 400px;
	margin-top: 10px;
}
.body1{
	width: 73%;
	height: 400px;
	background-color: #67F4A3; 
	float: left;
}
.sidebar{
	width: 25%;
	height: 400px;
	background-color: #67F4A3; 
	margin-left: 13px;
	float: left;
}
footer{
	width: 100%;
	height: 50px;
	background-color: #67F4A3; 
	margin-top: 10px;
}
.col-sm-2{
	margin-left: 30px;
}
.col-sm-4{
	margin-left: 30px;
	line-height: 360px;
}
.col-sm-6{
	margin-left: 30px;
}
.col-sm-3{
	margin-left: 16px;
}
.col-sm-5{
	margin-left: 5px;
}
.col-sm-7{
	margin-left: 5px;
	height: 350px;
	line-height: 360px;
}
.col-sm-11{
	margin-left: 10px;
	height: 350px;
	line-height: 360px;
}	
#r1, #r2{
	height: 60px;
	text-align: center;
	line-height: 50px;
}

#rr{
	margin-left: 15px;
}
.col-sm-3 h6{
	line-height: 100px;
}